<table class="table table bordered">
    <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Email</th>
    </tr>
    {{#each students}}
    <tr>
        <td>{{this.name}}</td>
        <td>{{age}}</td>
        <td>{{email}}</td>
    </tr>
    {{/each}}
</table>